aaa_base
aaa_glibc-solibs
aaa_libraries
acl
bash
bash-completion
bin
bzip2
ca-certificates
coreutils
diffutils
e2fsprogs
etc
findutils
gawk
gmp
gnupg
grep
gzip
hostname
libunistring
openssl
openssl-solibs
perl
pkgtools
procps-ng
sed
shadow
slackpkg
tar
util-linux
wget
which
xz
